<authentication mode="Forms">
    <forms loginUrl="~/Account/Account" timeout="2880" />
</authentication>
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/img/fashion/Cart.jfif" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.GioHang != null)
                                        {
                                            foreach (var item in ViewBag.GioHang)
                                            {
                                        <tr>
                                            <td><a class="remove" href="@Url.Action("RemoveFormCart", "Shopping", new {id = item.MaSanPham })"><fa class="fa fa-close"></fa></a></td>
                                            <td><a href="#"><img src="@item.Hinh1 " alt="img"></a></td>
                                            <td><a class="aa-cart-title" href="#">@item.TenSanPham</a></td>
                                            <td>$@(Math.Round((double)item.Giaban *(1 - item.Sale),0))</td>
                                            <td><input class="aa-cart-quantity" type="number" value="@item.SoLuong"></td>
                                            <td>$@(Math.Round((double)item.Giaban *(1 - item.Sale),0) * item.SoLuong)</td>
                                        </tr>
                                                //@String.Format("$0:0,0}", double.Parse((double)item.Giaban - (1 * item.Sale)))
                                                //@{item.Giaban - (1 * item.Sale)}
                                             }
                                        }
           

                                        <tr>
                                            <td colspan="6" class="aa-cart-view-bottom">
                                                <div class="aa-cart-coupon">
                                                    <input class="aa-coupon-code" type="text" placeholder="Coupon">
                                                    <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                                                </div>
                                                <a href="@Url.Action("Cart", "Shopping")"><input class="aa-cart-view-btn" type="submit" value="Update Cart"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$@ViewBag.Total</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>$@ViewBag.Total</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("Checkout", "Shopping")" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
